html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;

}


h1 {
    font-family: "Great Vibes", serif;
    font-size: 2em;
    color: firebrick;
    font-weight: 600;
    letter-spacing: 2px;
}

ul {
    padding-left: 30%;
    padding-right: 28%;
    margin-left: 58px;
}

ul li {
    display: inline-block;
    width: 120px;
    vertical-align: middle;
    margin-top: 20px;
}

.center {
    text-align: center;
}

.color {
    display: none;
}

li#img3 img, li#img6 img {
    padding-left: 10px;
}

button {
    margin-top: 10px;
    background-color: firebrick;
    font-size: 0.75em;
    color: white;
    text-transform: uppercase;
    width: 90px;
    height: 30px;
    border: none;
}

select {
    margin: 80px 4px 0px 20px;
    width: 200px;
}

option {
    color: darkolivegreen;
    font-size: 0.5em;
}

.search-form {
    background-color: lightgray;
    height: 150px;
    margin: 0 33%;
    vertical-align: bottom;
}

.logo-display-block {
    margin-top: 5em;
}